.App {
  text-align: center;
}
.bg-clr{
  background-color: #d1d3e2;
  width: 40%;
  height: 55%;
  }
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  
  .back {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
  .text-areas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 12px;
  }
  
  footer {

    padding: 17px;
    font-size: larger;
    font-weight: bolder;
    width: 100%;
    background: #f0dd37;
  }
  
  /* Sidebar start*/
  
  .sid-container {
    display: flex;
    /* background-color: aquamarine; */
  }
  
  .container {
    display: flex;
  
  }
  
  main {
    width: 100%;
  
  }
  
  .sidebar {
    background: #f0dd37;
    color: #fff;
    height: auto;
    width: 20%;
    transition: all 0.5s;
  }
  
  .top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  
  .logo {
    font-size: 30px;
  }
  
  .bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
  }
  
  .link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
  }
  
  .active {
    background: lightskyblue;
    color: #000;
  }
  
  .icon,
  .link_text {
    font-size: 20px;
  }
  
  .text-deactron {
    text-decoration: none;
  }
  
  .redius {
    border-radius: 50%;
  }
  .nav-clr {
    background:#f0dd37;
    color: #ccc;
  }
  

  
  /* Day-month container */
  .date-month{
    color: beige;
    background-color: chocolate;
    border: 2px solid blue;
    border-radius: 10px;
  }
  
  